body
{
    font-family: "Audiowide";
    background-image: linear-gradient(to right, white, lightgrey);
}
h1
{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
h4
{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
h6
{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.img-thumbnail
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.img-thumbnail-2
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 8px;
    border-style: outset;
    border-width: 3px;
    border-color: lightslategray;
}
iframe
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
}
.bg-4 
{ 
    background-color: #2f2f2f;
    color: #fff;
}
.container-fluid-1
{
    padding-top: 30px;
    padding-bottom: 30px;
}
.jumbotron
{
    padding: 1px;
    border-style: outset;
    border-width: 5px;
    border-color: lightslategray;
}
#section1{}